<div class="collapsible">
  <header class="collapsible-header">
    <h2 class="collapsible-heading">Item 1</h2>
    <img
      class="icon icon-primary collapsible-chevron"
      src="images/chevron.svg"
    />
  </header>
  <div class="collapsible-content">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. In, quod.
  </div>
</div>
<div class="collapsible">
  <header class="collapsible-header">
    <h2 class="collapsible-heading">Item 1</h2>
    <img
      class="icon icon-primary collapsible-chevron"
      src="images/chevron.svg"
    />
  </header>
  <div class="collapsible-content">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. In, quod.
  </div>
</div>
<script src="js/main.js"></script>
