<footer class="block block-dark footer">
  <div class="container grid footer-sections">
    <section class="collapsible footer-section">
      <header class="collapsible-header">
        <h2 class="collapsible-heading footer-heading">products</h2>
        <img
          class="icon icon-primary collapsible-chevron"
          src="images/chevron.svg"
        />
      </header>
      <div class="collapsible-content">
        <ul class="list">
          <li><a href="#">Website Hosting</a></li>
          <li><a href="#">Free Automated</a></li>
          <li><a href="#">Wordpress</a></li>
          <li><a href="#">Migration</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer-section">
      <header class="collapsible-header">
        <h2 class="collapsible-heading footer-heading">company</h2>
        <img
          class="icon icon-primary collapsible-chevron"
          src="images/chevron.svg"
        />
      </header>
      <div class="collapsible-content">
        <ul class="list">
          <li><a href="#">about</a></li>
          <li><a href="#">Affiliats</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer-section">
      <header class="collapsible-header">
        <h2 class="collapsible-heading footer-heading">support</h2>
        <img
          class="icon icon-primary collapsible-chevron"
          src="images/chevron.svg"
        />
      </header>
      <div class="collapsible-content">
        <ul class="list">
          <li><a href="#">Contact</a></li>
          <li><a href="#">Knowledge Base</a></li>
          <li><a href="#">FAC</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer-section">
      <header class="collapsible-header">
        <h2 class="collapsible-heading footer-heading">Domains</h2>
        <img
          class="icon icon-primary collapsible-chevron"
          src="images/chevron.svg"
        />
      </header>
      <div class="collapsible-content">
        <ul class="list">
          <li><a href="#">Domain Checker</a></li>
          <li><a href="#">Domain Transfer</a></li>
          <li><a href="#">Free Domain</a></li>
        </ul>
      </div>
    </section>
    <section class="footer-brand">
      <img src="images/logo.png" alt="" />
      <p class="footer-copyright">Copyright 2023 &copy; Sajal moni</p>
    </section>
  </div>
</footer>
