<div style="width: 50%; padding: 4rem">
  <div class="plan plan-popular">
    <div class="card card-secondary">
      <header class="card-header">
        <h3 class="plan-name">Entry</h3>
        <span class="plan-price">$14</span>
        <span class="plan-billing-cycle">/month</span>
        <span class="badge badge-secondary badge-small">10% off</span>
        <span class="plan-description">Easy to start on cloud</span>
      </header>
      <div class="card-body">
        <ul class="list list-tick">
          <li class="list-item">Unlimited Website</li>
          <li class="list-item">Unlimited Bandwidth</li>
          <li class="list-item">100 GB SSD storage</li>
          <li class="list-item">3 GB RAM</li>
        </ul>
        <button class="btn btn-outline btn-block">Buy Now</button>
      </div>
    </div>
  </div>
</div>
