<blockquote class="quote">
  <p class="quote-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, deleniti!
    Optio itaque ab, amet veritatis debitis tempora fugiat alias repudiandae
    sequi recusandae. Eos, natus provident.
  </p>
</blockquote>
<footer>
  <div class="media quote-media">
    <div class="media-image">
      <svg class="icon icon-primary quote-line">
        <use xlink:href="images/sprite.svg#line"></use>
      </svg>
    </div>
    <div class="media-body">
      <h3 class="media-title quote-author">John Smith</h3>
      <p class="quote-organization">ABC Company</p>
    </div>
  </div>
</footer>
