<section class="block block-dark block-skewed-right block-showcase">
  <header class="block-header">
    <h2>User-friendly Cntrol Panel</h2>
  </header>
  <div class="container grid grid-1X2">
    <picture class="block-showcase-image">
      <source
        type="image/webp"
        srcset="images/ipad.webp 1x, images/ipad@2x.webp 2x" />
      <source
        type="image/png"
        srcset="images/ipad.png 1x, images/ipad@2x.png 2x" />
      <img src="images/ipad.png" alt=""
    /></picture>
    <ul class="list">
      <li>
        <div class="media">
          <div class="media-image">
            <svg class="icon icon-primary">
              <use xlink:href="images/sprite.svg#computer"></use>
            </svg>
          </div>
          <div class="media-body">
            <h3 class="media-title">Easy Start & Manage Updates</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Veritatis commodi molestias dolorum modi dolore? Non iusto velit
              facere id amet!
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media-image">
            <svg class="icon icon-primary">
              <use xlink:href="images/sprite.svg#growth"></use>
            </svg>
          </div>
          <div class="media-body">
            <h3 class="media-title">Starting, GIT & WP-CLI</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Veritatis commodi molestias dolorum modi dolore? Non iusto velit
              facere id amet!
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media-image">
            <svg class="icon icon-primary">
              <use xlink:href="images/sprite.svg#wordpress"></use>
            </svg>
          </div>
          <div class="media-body">
            <h3 class="media-title">Dynamic Caching & More</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Veritatis commodi molestias dolorum modi dolore? Non iusto velit
              facere id amet!
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
